:root {
  --main-color: black;
  --secondary-color: #085979;
  --tertiary-color: #64babe;
  --main-font: arial;
  --main-font-size: 1erm;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0px;
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: var(--main-font-size);
}

.title {
  font-size: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
